



.openerp .oe_kanban_view .oe_kanban_vignette {
  padding: 8px;
  min-height: 100px;
}

.openerp .oe_kanban_view .oe_kanban_image_photo {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  height: 120px;
  text-align: center;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}