.openerp .step-line {
    display: block;
    border-bottom: 2px solid #bbb;
    width: 75%;
    z-index: 0;
    margin-bottom: -21px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.openerp .shipping-schema ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    position: relative;
}
/*
.openerp .shipping-schema .schema3 li {
    width: 33.3333%;
}*/
.openerp .shipping-schema ul li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: center;
    color: #bbb;
    font-size: 11px;
}

.openerp .shipping-schema ul li .single-step {
    display: inline-block;
    border: 2px solid #bbb;
    border-radius: 100%;
    padding: 8px 15px;
    margin-bottom: 10px;
    color: #bbb;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
}

.openerp .shipping-status-active .single-step {
    background-color: #0078c7 !important;
    color: #fff !important;
}

